@import '@styles/colors';
@import '@styles/mixins';

.info-external-link-wrapper {
  display: flex;

  .info-external-link {
    display: inherit;
    align-items: center;
    gap: 0.65rem;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: inherit;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}