@import '../../../../../styles/colors';
@import '../../../../../styles/transitions';

.results-list-container {
  width: 100%;
  min-height: 40vh;
  height: 100%;

  .results-list {
    width: 100%;
    min-height: 40vh;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 1rem 1rem;
  }

  .empty-results-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: 40vh;
    height: 100%;
    padding: 1rem 1rem;
  }
}

@media (min-width: 768px) {
  .results-list-container {
    min-height: 80vh;

    .results-list {
      min-height: calc(100vh - 500px);
    }

    .empty-results-list {
      min-height: calc(100vh - 500px);
    }
  }
}