@import '../../../../../styles/colors';
@import '../../../../../styles/transitions';

.results-list-container {
  width: 100%;
  height: auto;

  .results-list {
    width: 100%;
    min-height: 75vh;
    height: 100%;
    display: grid;
    gap: 1.25rem;
    padding: 0.25rem 1rem 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  }

  .empty-results-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    min-height: 75vh;
    height: 100%;

    .empty-results-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      gap: 2rem;
      margin-top: 2rem;

      p {
        text-align: center;
        font-size: 1.25rem;
      }
    }
  }
}

.empty-reset-filters-btn {
  font-size: 1.05rem;
  height: 3rem;
  width: 9rem;
  margin-top: 2rem;
  color: map-get($theme, 'white');
  background-color: map-get($grey, 'darker');
  border: none;
  border-radius: 4px;

  @include smooth-hover(background-color);

  &:hover {
    cursor: pointer;
    background-color: lighten(map-get($grey, 'darker'), 10%);
  }
}
