@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.mobile-map-switch-container {
  width: 100%;
  height: auto;
  background-color: transparent;
  @include center-elements;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 5%;

  .mobile-map-switch-btn {
    @include center-elements;
    width: 40%;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    color: map-get($theme, 'white');
    border: 1px solid map-get($theme, 'white');
    border-radius: 4px;
    background-color: map-get($grey,'dark');
    margin: 0 0 2rem;
  }
}
