@import '@styles/colors';
@import '@styles/mixins';
.slider-scroll-btns {
  display: flex;
  align-items: flex-end;
  gap: 1.15rem;
  margin: 1.5rem 0 0;

  .slider-scroll-btn-left,
  .slider-scroll-btn-right {
    @include center-elements;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid map-get($grey, 'light');
    border-radius: 50%;
    padding: 0.65rem;
    
    @include smooth-hover(background-color);
    
      &:hover {
        cursor: pointer;
        background-color: darken(map-get($theme, 'white'), 5%);
      }
    
      &:active {
        background-color: map-get($theme, 'white');
      }
  }
}
