$grey: (
  'darker': hsl(209, 15%, 28%),
  'dark': hsl(207, 12%, 43%),
  'neutral': hsl(208, 12%, 58%),
  'light': hsl(210, 16%, 76%),
  'lighter': hsl(208, 21%, 81%)
);

$candy: (
  'prussian': #102E4A,
  'maya': #55C1FF,
  'cornflower':#5887FF,
  'purpel':#715AFF,
  'lightpurpel':#A682FF
);

$royal: (
  'light': #90DDF0,
  'neutral': #2C666E,
  'dark': #07393C,
  'black': #0A090C,
  'white': #F0EDEE,
);

$theme: (
  '1': #0B132B,
  '2': #0B132B,
  '3': #3A506B,
  '4': #5BC0BE,
  '5': #6FFFE9,
)
