$grey: (
  'darker': hsl(209, 15%, 28%),
  'dark': hsl(207, 12%, 43%),
  'neutral': hsl(208, 12%, 58%),
  'light': hsl(210, 16%, 76%),
  'lighter': hsl(208, 21%, 81%)
);

$theme: (
  'dark': hsl(165, 18%, 22%),
  'teal': hsl(184, 66%, 29%),
  'sand': hsl(30, 30%, 90%),
  'boldred': hsl(5, 57%, 49%),
  'darkred': hsl(8, 49%, 30%)
);

$beach: (
  '1': hsl(168, 57%, 26%),
  '2': hsl(143, 36%, 38%),
  '3': hsl(51, 37%, 74%),
  '4': hsl(90, 26%, 92%),
  '5': hsl(15, 50%, 60%)
);

$spring: (
  '1': #157145,
  '2': #57A773,
  '3': #6A8EAE,
  '4': #9BD1E5,
  '5': #D1FAFF
);
