@import '@styles/colors';
@import '@styles/mixins';

.slider-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 5% 1.5rem;

  .slider-top-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 1.5rem;

    .slider-top-left-text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .slider-header { 
        align-self: flex-start;
        font-size: 1.5rem;
        font-weight: 350;
      }
      
      .slider-subheader {
        align-self: flex-start;
        font-size: 1rem;
        color: map-get($grey, 'dark');
      }
    }
  }
}

@media (min-width: 768px) {
  .slider-section-container {
    padding: 3rem 10% 2rem;

    .slider-top-details {
      margin: 0 0 0.5rem;

      .slider-top-left-text {

        .slider-header {
          font-size: 1.75rem;
        }

        .slider-subheader {
          font-size: 1.15rem;
        }
      }
    }

    .slider-bottom-details {
      margin: 0.5rem 0 0;
    }
  }
}
