@import '@styles/colors';

.slider-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 5%;
  background-color: map-get($theme, 'white');

  .slider-top-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 1.5rem;

    .slider-top-left-text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .slider-header { 
        align-self: flex-start;
        font-size: 1.5rem;
        color: map-get($theme, 'black');
        font-weight: 500;
      }
      
      .slider-subheader {
        align-self: flex-start;
        font-size: 1rem;
        color: map-get($grey, 'neutral');
      }
    }
  }
}

@media (min-width: 768px) {
  .slider-section-container {
    padding: 8rem 10% 8rem;

    .slider-top-details {
      margin: 0 0 1.25rem;

      .slider-top-left-text {

        .slider-header {
          font-size: 1.75rem;
        }
        .slider-subheader {
          font-size: 1.25rem;
        }
      }
    }
  }
}
