.facility-card-container,
.dummy-card-container {
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid map-get($grey, lighter);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.dummy-card-container {
  background-color: map-get($grey, light);
}

.facility-card-photo {
  height: 225px;
  background-color: white;
  border-bottom: 1px solid map-get($grey, light);

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  &:hover {
    background-color: darken(white, 5%);
  }
}

.facility-card-photo img {
  position: absolute;
  object-fit: cover;
}

.facility-card-info {
  height: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0.5rem;
}

.facility-card-name,
.facility-card-type,
.facility-card-address {
  display: flex;
  font-size: 16px;
}
