@import '../../../../../styles/colors';

.query-section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 170px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;

  .query-result-count {
    font-size: 1.25rem;
    color: map-get($grey, 'darker');
  }
}

.section-divider-container {
  width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;

  .divider {
    border-bottom: 1px solid map-get($grey, 'light');
  }
}