@import '@styles/mixins';
@import '@styles/colors';

.back-btn-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 3rem 0 0;

  .btn-wrapper {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;

    .back-btn-icon {
      height: 1.35rem;
      width: 1.35rem;
      background-size: 1.35rem 1.35rem;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }

    .back-btn {
      display: inline-block;
      font-size: 1.5rem;
      line-height: 1;
      padding: 0 0 0.5rem;
      color: map-get($theme, 'black');

      @include underline-animation('rtl');
    }
  }
}
