@import '@styles/mixins';
@import '@styles/colors';

.back-btn-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 0 1.5rem;

  .btn-wrapper {
    display: flex;
    gap: 0.5rem;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .back-btn {
      display: inline-block;
      font-size: 1.1rem;
      line-height: 1;

      @include underline-animation('rtl');
    }
  }
}
