@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/transitions';

.to-search-btn-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 3rem 0;

  .to-search-link-wrapper {
    text-decoration: none;
    display: flex;
    gap: 0.75rem;

    .to-search-btn {
      width: 12rem;
      font-size: 1rem;
      background-color: map-get($grey, 'darker');
      color: map-get($theme, 'white');
      border: none;
      border-radius: 6px;
      padding: 0.75rem 2rem;

      @include smooth-hover(background-color);

      &:hover {
        cursor: pointer;
        background-color: lighten(map-get($grey, 'darker'), 5%);
      }
    
    }
  }
}

@media (min-width: 768px) {
  .to-search-btn-container {

    justify-content: left;

    .to-search-link-wrapper {

      .to-search-btn {
        width: 8rem;
      }
    }
  }
}
