@import '../../../styles/colors';
@import '../../../styles/transitions';

.signup-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .signup-form-descriptor {
    font-size: 1.25rem;
    text-align: center;
    padding: 3rem 0 2.5rem;
  }

  .signup-form {
    display: flex;
    flex-direction: column;

    .form-field {
      display: flex;
      flex-direction: column;

      .enter-information {
        display: flex;
        flex-direction: column;
        border: 1px solid map-get($grey, 'light');

        .input-signup-email,
        .input-signup-password {
          display: flex;
          flex-direction: column;
  
          label {
            font-size: 1rem;
          }
  
          input {
            font-size: 1rem;
            padding: 1rem;
            border: none;

            &:focus {
              outline: none;
            }
          }
        }

        .input-divider {
          width: 100%;
          padding: 0 1rem;

          .divider {
            border-bottom: 1px solid map-get($grey, 'lighter');
          }
        }
      }
      
      .space {
        height: 10rem;
      }

      .signup-form-submit-btn {
        font-size: 1rem;
        align-self: center;
        height: 3rem;
        width: clamp(10rem, 100%, 12rem);
        color: white;
        background-color: map-get($grey, 'dark');
        border: none;
        margin: 2.5rem 0;
        border-radius: 4px;

        @include smooth-hover(background-color);
        
        &:hover {
          cursor: pointer;
          background-color: lighten(map-get($grey, 'dark'), 5%);
        }
      }
    }
  }

  .form-divider {
    width: 100%;
    position: relative;

    .divider {
      border-bottom: 1px solid map-get($grey, 'dark');
    }

    .divider-text {
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      color: map-get($grey, 'dark');
      font-size: 1rem;
      padding: 0 0.5rem;
    }
  }

  .oauth-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .oauth-login-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 2.5rem 0 1.5rem;

      .oauth-google-btn,
      .oauth-apple-btn {
        height: 3rem;
        width: 80%;
        border: none;
        border-radius: 4px;
        color: white;

        &:hover {
          cursor: pointer;
        }

        .oauth-btn-text {
          font-size: 1rem;
        }
      }

      .oauth-google-btn {
        background-color: rgb(66,133,244);

        @include smooth-hover(background-color);

        &:hover {
          background-color: lighten(rgb(66,133,244), 5%);
        }
      }

      .oauth-apple-btn {
        background-color: black;

        @include smooth-hover(background-color);

        &:hover {
          background-color: lighten(black, 15%);
        }
      }
    }
  }
}