@import '@styles/colors';

.facility-amenities-container,
.facility-offerings-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem;

  .facility-amenities-header,
  .facility-offerings-header {
    display: flex;
    font-size: 1.1rem;
    margin: 0 0 1.25rem;
  }

  .facility-amenity-field,
  .facility-offerings-field {
    display: flex;
    align-items: center;
    height: 1rem;
    gap: 0.5rem;
    margin: 0 1rem 1.25rem;
  
    .facility-amenity-icon,
    .facility-offering-icon {
      padding: 0.3rem 0 0;
      
      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
      
    .facility-amenity-text,
    .facility-offering-text,
    .amenity-text-calisthenics {
      font-size: 1rem;
    }
  }
  
  .no-facility-found {
    font-size: 1rem;
    padding: 2rem;
  }

  .no-offering {
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 0;
  }
}
