@import '../../../styles/colors';
@import '../../../styles/transitions';

.account-page-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 120px 1.25rem 1.5rem;

  .account-page-header {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: map-get($theme, 'black');
    z-index: 1;
    align-self: center;
  }

  .account-page-top-image {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background-color: map-get($grey, 'lighter');
  }

  .account-page-body {
    display: flex;
    width: 100%;
    flex: 1;

    .account-page-rightbar {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: map-get($theme, 'white');
      padding: 2.25rem 1.75rem;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      z-index: 1;

      .account-page-rightbar-header {
        font-size: 1.75rem;
        margin-bottom: 2rem;
      }
    
      .account-information-container {
        display: flex;
        flex-direction: column;
  
        .account-information-header {
          font-size: 1rem;
          font-weight: 700;
        }
    
        .account-details-container {
          display: inline-flex;
          flex-direction: column;
          margin: 1.5rem 0;
          gap: 1.5rem;

          .account-details-section {
            display: flex;
            align-items: baseline;
            gap: 0.75rem;

            .account-details-title {
              font-size: 0.8rem;
              font-weight: 700;

            }

            .account-name,
            .account-id {
              font-size: 1.25rem;
            }



          }
      
      
        }
    
      }
  
    }
  }

  .account-page-divider {
    width: 100%;
    padding: 0.5rem 0;

    .divider {
      border-bottom: 1px solid map-get($grey, 'light');
    }
  }

}

@media (min-width: 768px) {
  .account-page-container {
    padding: 140px 10% 70px;
    gap: 0;

    .account-page-header {
      font-size: 2rem;
      align-self: auto;
    }

    .account-page-top-image {
      background-color: map-get($theme, 'white');
      justify-content: left;
    }

    .account-page-body {
      gap: 2rem;
      margin: 3rem 0 0;

      .account-page-leftbar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 25%;
        z-index: 1;

        .my-details-btn,
        .my-favorites-btn {
          border: 1px solid map-get($grey, 'lighter');
          font-size: 1rem;
          padding: 1rem;
          border-radius: 6px;

          @include smooth-hover(background-color);

          &:hover {
            cursor: pointer;
            background-color: darken(white, 5%);
          }
        }
      }

      .account-page-rightbar {
        padding: 2.5rem 5%;
        width: 75%;
        margin-top: 0;

      }

    }

  
  }
}