@import '@styles/mixins';
@import '@styles/colors';

@keyframes slideLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5rem);
  }
}

.back-btn-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 0 1.5rem;

  .btn-wrapper {
    display: flex;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;

      svg {
        animation: slideLeft 0.4s forwards, slideLeft 0.4s 0.4s forwards;
      }
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .back-btn {
      display: inline-block;
      font-size: 1.1rem;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
