@import '../../../../styles/colors';
@import '../../../../styles/transitions';

.back-btn-container {
  display: flex;
  max-width: 800px;
  width: 100%;

  .btn-wrapper {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;

    .back-btn-icon {
      height: 1.5rem;
      width: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }

    .back-btn {
      display: inline-block;
      font-size: 1.5rem;
      color: black;
      line-height: 1;
      background: linear-gradient(currentColor 0 0) bottom right / var(--underline-width, 0%) 0.1em no-repeat;
      border: none;
      text-decoration: none;
      padding: 0.15rem 0 0.5rem 0;
      transition: background-size 0.5s;

      &:hover {
        cursor: pointer;
        --underline-width: 100%;
      }
    }
  }
}
