@import '../../../../styles/colors';
@import '../../../../styles/transitions';
@import '../../../../styles/mixins';

.slider-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 5rem 5%;

  .slider-top {
    display: flex;
    justify-content: space-between;

    .slider-text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .slider-header {
        font-weight: 700;
        align-self: flex-start;
        font-size: 1.75rem;
      }
      
      .slider-subheader {
        font-weight: 400;
        align-self: flex-start;
        font-size: 1.25rem;
        color: map-get($grey, 'neutral');
      }
    }

    .slider-scroll-btns {
      display: flex;
      gap: 1rem;
      margin: 1.5rem 0 0;
  
      .slider-scroll-btn {
        border: none;
        background-color: white;
  
        .slider-arrow {
          height: 1.75rem;
          width: 1.75rem;
        
          @include smooth-hover(transform);
        
          &:hover {
            cursor: pointer;
            transform: scale(1.15);
          }
        
          &:active {
            transform: scale(0.85);
          }
        }
      }
    }
  }

  .slider-display {
    display: flex;
    flex-direction: column;
  
    .slider-display-cards {
      display: flex;
      padding: 0.25rem 0;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      width: 100%;
      scroll-behavior: smooth;
      gap: 1%;
    
      > * {
        flex: 0 0 calc(25% - 0.75%);
        scroll-snap-align: start end;
        min-width: 325px;
      }
  
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-color: transparent transparent;
    }
  }
}

@media (min-width: 768px) {
  .slider-section-container {
    padding: 8rem 10%;

    .slider-top {
      .slider-text {
        .slider-header {
          font-size: 2.25rem;
        }
        .slider-subheader {
          font-size: 1.25rem;
        }
      }
    }
  }
}
