.desktop-map-switch-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.desktop-map-switch-btn {
  height: 2.5rem;
  width: 10rem;
  display: flex;
  position: relative;

  .card-view,
  .map-view {
    height: 100%;
    flex: 1;
    background-color: white;
    color: map-get($grey, 'dark');
    border: 1px solid map-get($grey, 'dark');

    @include smooth-hover(background-color);

    &:hover {
      cursor: pointer;
      background-color: darken(white, 10%);
    }

    &.active {
      color: white;
      background-color: map-get($grey, 'dark');
    }

    &:disabled {
      cursor: auto;
      pointer-events: none;
    }
  }

  .card-view {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0.5px solid map-get($grey, 'dark');
  }

  .map-view {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0.5px solid map-get($grey, 'darker');
  }
}

.mobile-map-switch-container {
  width: 100%;
  height: 5rem;
  background-color: map-get($grey, 'lighter');
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid map-get($grey, 'darker');
  z-index: 2;
  padding: 0 5%;

  .mobile-map-switch-btn {
    @include center-elements;
    width: 30%;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid map-get($grey, 'neutral');
    border-radius: 4px;
    background-color: white;
  }
 
}