.results-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.query-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 170px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;

  .query-result-count {
    font-size: 20px;
  }
}

.without-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.with-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .map-overlay-container {
    width: 100%;
    height: 80vh;
    position: sticky;
    top: 150px;
    padding: 1rem;

    .mapboxgl-map {

      .map-marker {
        height: 1.5rem;
        width: 1.5rem;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center; 

        @include smooth-hover(transform);

        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }

      .mapboxgl-control-container {
        position: absolute;
        width: auto;
        top: 10px;
        left: 10px;
        z-index: 2;
  
        .mapboxgl-ctrl-top-left {
  
          .mapboxgl-ctrl-group {
            width: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid map-get($grey, 'darker');
            border-radius: 5px;
    
            .mapboxgl-ctrl-zoom-in,
            .mapboxgl-ctrl-zoom-out {
              @include center-elements;
              height: 2rem;
              width: 100%;
              border: none;
              background-color: white;
  
              @include smooth-hover(background-color);
  
              &:hover {
                cursor: pointer;
                background-color: darken(white, 10%);
              }
  
              .mapboxgl-ctrl-icon {
                height: 1rem;
                width: 1rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
  
            .mapboxgl-ctrl-zoom-in {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
  
              .mapboxgl-ctrl-icon {
                background-image: url('/src/assets/imgs/plus-icon.png');
              }
            }
  
            .mapboxgl-ctrl-zoom-out {
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
  
              .mapboxgl-ctrl-icon {
                background-image: url('/src/assets/imgs/minus-icon.png');
              }
            }
    
            .mapboxgl-ctrl-compass {
              display: none;
            }
          }
        }
  
        .mapboxgl-ctrl-top-right,
        .mapboxgl-ctrl-bottom-left,
        .mapboxgl-ctrl-bottom-right {
          display: none;
        }
      }
    }

    div[mapboxgl-children] {
      height: auto !important;
    }
  
    /* .map-overlay {
      width: 100%;
      height: 100%;
      background-color: map-get($theme, 'mint');
      padding: 1rem;
    } */

    .error-message {
      font-size: 0.5rem;
      color: red;
    }
  }
}

.empty-results-list {
  display: flex;
  width: 100%;
  min-height: 40vh;
  height: 100%;
  padding: 1rem 1rem;
  background-color: map-get($grey, 'light');
}

.search-results-list {
  width: 100%;
  min-height: 40vh;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  background-color: map-get($grey, 'light');
  padding: 1rem 1rem;
}

.result-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

@media (min-width: 768px) {

  .results-container {
    flex-direction: row;
  }

  .result-left {
    overflow-y: auto;
  }

  .empty-results-list {
    min-height: calc(100vh - 500px);
  }

  .search-results-list {
    min-height: calc(100vh - 500px);
  }

  .with-map {
    flex-direction: row;

    .map-overlay-container {
      height: calc(100vh - 150px);
      width: 50%;
    } 
  }
}
