.results-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.query-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 170px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;

  .query-result-count {
    font-size: 20px;
  }
}

.without-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.with-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .map-overlay-container {
    width: 100%;
    height: 80vh;
    position: sticky;
    top: 150px;
  
    .map-overlay {
      width: 100%;
      height: 100%;
      background-color: map-get($theme, 'mint');
      padding: 1rem;
    }
  }
}

.empty-results-list {
  display: flex;
  width: 100%;
  min-height: 40vh;
  height: 100%;
  padding: 1rem 1rem;
  background-color: map-get($grey, 'light');
}

.search-results-list {
  width: 100%;
  min-height: 40vh;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  background-color: map-get($grey, 'light');
  padding: 1rem 1rem;
}

.result-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

@media (min-width: 768px) {

  .results-container {
    flex-direction: row;
  }

  .result-left {
    overflow-y: auto;
  }

  .empty-results-list {
    min-height: calc(100vh - 500px);
  }

  .search-results-list {
    min-height: calc(100vh - 500px);
  }

  .with-map {
    flex-direction: row;

    .map-overlay-container {
      height: calc(100vh - 150px);
      width: 50%;
    }
  }
}
