.search-mobile-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-filter-dropdown {
  height: 1.5rem;
  width: 1.5rem;
}

.search-desktop-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-filter-menu {
  display: flex;
  height: 50%;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 0.5rem;
}

.type-dropdown-btn,
.amenity-dropdown-btn,
.service-dropdown-btn {
  height: 100%;
  width: 90px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid map-get($grey, dark);
  background-color: white;
  
  &:hover {
    cursor: pointer;
    background-color: darken(white, 5%);
    border: 1px solid map-get($grey, lighter);
  }

  &.active,
  &:active 
  &:hover {
    border: 1px solid map-get($grey, lighter);
  }
}

.type-dropdown,
.amenity-dropdown,
.service-dropdown {
  position: relative;
  display: flex;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  
}

.dropdown-title {
  font-size: 0.4rem;
  font-weight: 700;
  white-space: nowrap;
  margin: 0.3rem 0 0.2rem;
}

.dropdown-arrow {
  height: 0.5rem;
  width: 0.5rem;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
  z-index: 2;
  width: auto;
  height: auto;
  border: 1px solid map-get($grey, lighter);
  padding: 0.5rem;
  font-size: 0.5rem;
  background-color: white;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
}

.dropdown-option {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.1rem;
}

.option-checkbox {
  margin-right: 0.25rem;
  height: 0.7rem;
  width: 0.7rem;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.option-text {
  font-size: 0.5rem;
}

.checkbox-done-btn {
  height: 1.25rem;
  width: 4rem;
  align-self: center;
  border: none;
  color: white;
  margin: 0.4rem 0 0;
  background-color: map-get($grey, dark);

  &:hover {
    cursor: pointer;
    background-color: map-get($grey, neutral);
  }
}

.search-subheader-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  border: none;
  background-color: white;
  border-bottom: 1px solid map-get($grey, lighter);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 5;
}

.subheader-search-bar {
  height: 50%;
  width: 250px;
  display: flex;
}

.subheader-search-bar form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheader-search-bar input {
  height: 100%;
  width: 85%;
  border: 1px solid map-get($grey, dark);
  border-right: 0.5px solid map-get($grey, dark);
  font-size: 16px;
  padding: 8px;
  
  &:hover {
    cursor: pointer;
    border: 1px solid darken(map-get($grey, light), 10%);
  }
}

.subheader-search-bar button {
  height: 100%;
  width: 15%;
  background-size: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid map-get($grey, dark);
  border-left: 0.5px solid map-get($grey, dark);
  background-color: none;

  &:hover {
    cursor: pointer;
    background-color: darken(white, 5%);
  }
}

@media (min-width: 768px) {
  .search-subheader-container {
    justify-content: left;
  }
}

@import 'card';
@import 'results';