@import 'filterbuttons';
@import 'results';

.search-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-filter-dropdown {
  height: 40px;
  min-width: 40px;
  border: 1px solid map-get($grey, dark);
}

.search-page-header {
  height: 80px;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: none;
  background-color: white;
  border-bottom: 1px solid map-get($grey, lighter);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 5;
}

.search-page-searchbar {
  display: flex;
  height: 40px;
  width: clamp(200px, 100%, 400px);
}

.search-page-searchbar form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-page-searchbar input {
  height: 100%;
  display: flex;
  flex: 1;
  border: 1px solid map-get($grey, dark);
  border-right: 0.5px solid map-get($grey, dark);
  font-size: 0.8rem;
  padding-left: 0.75rem;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  
  &:hover {
    cursor: pointer;
    border: 1px solid darken(map-get($grey, light), 10%);
  }
}

.search-page-searchbar button {
  height: 100%;
  width: 40px;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid map-get($grey, dark);
  border-left: 0.5px solid map-get($grey, dark);
  background-color: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  &:hover {
    cursor: pointer;
    background-color: darken(white, 5%);
  }
}

@media (min-width: 768px) {
  .search-page-header {
    justify-content: left;
    gap: 0;
  }
}
