@import '@styles/colors';
@import '@styles/transitions';
@import '@styles/mixins';

.query-section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
  width: 100%;
  padding: 0 1rem;
  background-color: map-get($theme, 'white');

  .query-result-count {
    font-size: 1.25rem;
    color: map-get($grey, 'darker');
  }

  .query-result-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .query-result-arrows {
      display: flex;

      .query-result-prev-arrow,
      .query-result-next-arrow {
        @include center-elements;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 6px;

        svg {
          height: 1.5rem;
          width: 1.5rem;
        }

        @include smooth-hover(background-color);

        &:hover {
          background-color: map-get($grey, 'lighter');
          cursor: pointer;
        }

        &.disabled {
          pointer-events: none;

          svg {
            path {
              stroke: map-get($grey, 'light');
            }
          }
          
        }
      }
    }

    .query-result-page {
      padding: 0.25rem 0 0;
      font-size: 1rem;
      color: map-get($grey, 'darker');
    }
  }
}



@media (min-width: 768px) {
  .query-section-container {
    height: 70px;

    .query-result-right {
      gap: 1rem;

      .query-result-arrows {
        gap: 0.25rem;
      }
    }
  }
}