@import '../../../styles/colors';
@import '../../../styles/transitions';
@import '../../../styles/mixins';

.home-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
