@import '@styles/colors';
@import '@styles/transitions';

.slider-card-container {
  height: 240px;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: map-get($theme, 'white');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  flex: 0 0 auto;
  scroll-snap-align: start end;

  .slider-card-link-wrapper {
    height: 100%;
    text-decoration: none;
    border-radius: 10px;

    .slider-card-photo-container {
      height: 160px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        @include smooth-hover(transform);

        &:hover {
          transform: scale(1.025);
        }
      }

    }

    .slider-card-bottom {
      height: 80px;
      color: map-get($theme, 'black');
      padding: 0.7rem 0.75rem;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      
      .slider-card-type {
        font-size: 0.75rem;
        margin: 0 0 0.25rem;
      }

      .slider-card-name {
        font-size: 1.1rem;
        margin: 0 0 0.15rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .slider-card-borough {
        font-size: 0.85rem;
      }
    }
  }

}
