@import '@styles/colors';

hr.home-page-divider-container {
  border: none;
  height: 1px;
  width: 80%;
  background-color: map-get($grey, 'lighter');
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .home-page-divider-container {
    width: 50%;
  }
}
