@import '../../../../styles/colors';

.section-divider-container {
  width: 100%;
  padding: 0 5%;
  
  .divider {
    border-bottom: 1px solid map-get($grey, 'neutral');
  }
}

@media (min-width: 768px) {
  .section-divider-container {
    padding: 0 10%;
  }
}
