@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: map-get($theme, 'white');
  border-right: 1px solid map-get($grey, 'dark');
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &.active {
    transform: translateX(0);
  }

  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 0 1.5rem 1rem;

    .mobile-menu-logo {
      font-size: 1.5rem;
      padding-top: 0.5rem;
    }
  }

  .mobile-menu-links {
    display: flex;
    flex-direction: column;
  
    .business-link,
    .about-link,
    .help-link,
    .account-link {
      text-decoration: none;
      display: flex;
      padding: 1rem;
      font-size: 1rem;
      border: none;
      border-bottom: 1px solid map-get($grey, 'light');
      background-color: map-get($theme, 'white');
      color: map-get($grey, 'darker');
    }
  
    .business-link {
      border-top: 1px solid map-get($grey, 'light');
    }
  }

  .login-link {
    align-self: center;
    border: none;
    border-radius: 4px;
    color: map-get($theme, 'white');
    background: map-get($grey, 'darker');
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    margin: 2rem 0 0;
    
  }

  .mobile-menu-account-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    border: 1px solid map-get($grey, 'lighter');

    .mobile-menu-account-name {
      font-size: 1rem;
    } 
    
    .mobile-menu-account-id {
      font-size: 1rem;
    }
  }
}
