@import '../../../../../../../styles/colors';

.mobile-filter-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem 1rem 2rem;
  border: 1px solid map-get($grey, 'light');
}