@import '@styles/colors';
@import '@styles/transitions';

.slider-scroll-btns {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0 0;

  .slider-scroll-btn {
    border: none;
    background-color: map-get($theme, 'white');

    .slider-arrow {
      height: 1.75rem;
      width: 1.75rem;
    
      @include smooth-hover(transform);
    
      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
    
      &:active {
        transform: scale(0.85);
      }
    }
  }
}
