@import '@styles/mixins';

.home-page-welcome-photo {
  height: 48vh;
  width: 100%;
  @include center-elements;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.45);
  }
}

@media (min-width: 768px) {
  .home-page-welcome-photo{
    height: 53vh;
  }
}

