@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/transitions';

.account-menu-container {
  position: relative;
  display: flex;
  border: 1px solid map-get($theme, 'black');
  padding: 0.3rem 0.45rem 0.3rem 0.75rem;
  border-radius: 50px;

  @include smooth-hover(box-shadow);

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  &.active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .account-menu-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;

    .account-menu-list-icon {
      height: 1.5rem;
      width: 1.5rem;
  
      img {
        height: 100%;
        width: 100%;
      }
    }

    &:hover {
      cursor: pointer;
    }
  
    .account-menu-generic-icon {
      @include center-elements;
      height: 2rem;
      width: 2rem;
      border: 1px solid map-get($theme, 'black');
      border-radius: 50%;
      background-color: transparent;
      
      img {
        height: 80%;
        width: 80%;
      }
    }

    .account-menu-photo {
      @include center-elements;
      height: 2rem;
      width: 2rem;
      background-color: transparent;
      border: 1px solid map-get($theme, 'black');
      border-radius: 50%;

      .account-menu-photo-letter {
        font-size: 1.1rem;
      }
    }
  }

  .account-menu-dropdown {
    position: absolute;
    top: 4rem;
    right: -0.35rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: map-get($theme, 'white');
    width: 10rem;
    z-index: 2;
    padding: 1rem;
    border: 1px solid map-get($grey, 'light');
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2rem;
      right: 1rem;

      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid map-get($grey, 'light');
    }

    &::after {
      content: "";
      position: absolute;
      top: -1.9rem;
      right: 1rem;

      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid map-get($theme, 'white');
    }

    .dropdown-login-btn,
    .dropdown-signup-btn,
    .dropdown-account-link,
    .dropdown-logout-btn {
      display: flex;
      text-decoration: none;
      width: 100%;
      font-size: 1rem;
      text-decoration: none;
      color: map-get($grey, 'darker');
      background-color: map-get($theme, 'white');
      padding: 0.5rem;
      border: none;
      border-radius: 4px;
      text-align: start;
      
      @include smooth-hover(background-color);
      
      &:hover {
        cursor: pointer;
        background-color: darken(map-get($theme, 'white'), 7.5%);
      }
    }

    .dropdown-login-btn {
      font-weight: 500;
    }
  }
}
