@import '@styles/colors';
@import '@styles/mixins';

.account-menu-container {
  position: relative;
  display: flex;
  border: 1px solid map-get($theme, 'black');
  padding: 0.25rem;
  border-radius: 50px;

  @include smooth-hover(box-shadow);

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  &.active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .account-menu-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  
    .account-menu-loggedout-icon,
    .account-menu-photo {
      @include center-elements;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
    }

    .account-menu-loggedout-icon {

      svg {
        height: 80%;
        width: 80%;
      }
    }

    .account-menu-photo {

      .account-menu-photo-letter {
        font-size: 1.1rem;
      }
    }
  }

  .account-menu-dropdown {
    position: absolute;
    top: 3.7rem;
    right: -0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 10rem;
    z-index: 2;
    padding: 1rem;
    border: 1px solid map-get($grey, 'darker');
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    visibility: hidden;
    opacity: 0;
    background-color: map-get($theme, 'white');
    transition: visibility 0.2s ease, opacity 0.2s ease;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2rem;
      right: 1rem;

      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid map-get($grey, 'darker');
    }

    &::after {
      content: "";
      position: absolute;
      top: -1.91rem;
      right: 1rem;

      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid map-get($theme, 'white');
    }

    .dropdown-login-btn,
    .dropdown-signup-btn,
    .dropdown-account-link,
    .dropdown-logout-btn {
      display: flex;
      width: 100%;
      font-size: 1rem;
      color: map-get($grey, 'darker');
      padding: 0.5rem;
      border: none;
      border-radius: 4px;
      text-align: start;
      
      @include smooth-hover(background-color);
      
      &:hover {
        cursor: pointer;
        background-color: darken(map-get($theme, 'white'), 7.5%);
      }
    }

    .dropdown-login-btn {
      font-weight: 500;
    }
  }
}
