@import '../../../../../styles/colors';

.without-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.with-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .vertical-divider {
    flex: 1;
    padding: 1rem 0;

    .divider {
      height: 100%;
      border-right: 1px solid map-get($grey, 'lighter');
    }
  }
}

.result-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

@media (min-width: 768px) {
  .result-left {
    overflow-y: auto;
  }

  .with-map {
    flex-direction: row;
  }
}
