@import '../../../../styles/colors';
@import '../../../../styles/transitions';

.account-page-leftbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
  z-index: 1;

  .leftbar-tab {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;

    @include smooth-hover(background-color);

    &:hover {
      cursor: pointer;
      background-color: darken(white, 5%);
    }

    &.active {
      background-color: darken(white, 10%);
    }

    .leftbar-tab-icon {
      height: 1.5rem;
      width: 1.5rem;
    }

    .details-btn,
    .favorites-btn {
      font-size: 1.1rem;
      padding-top: 0.25rem;
    }
  }
}