@import '@styles/colors';
@import '@styles/mixins';

.mobile-switchbar {
  display: flex;
  z-index: 1;
  border-radius: 6px;
  margin-bottom: 1.75rem;

  .mobile-switchbar-tab {
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
    margin: 0 0.5rem 0;
    background-color: transparent;
    color: map-get($grey, 'darker');
    flex: 1;

    @include smooth-hover(border-bottom);

    &:hover {
      cursor: pointer;
    }

    &.active {
      border-bottom: 1.5px solid map-get($grey, 'darker');
    }
  }
}