@import '@styles/colors';

.welcome-text {
  height: auto;
  width: 80%;
  position: absolute;
  top: 22vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  color: map-get($theme, 'white');
  text-shadow: -1px 1px 2px map-get($theme, 'black'),
    1px 2px 6px map-get($theme, 'black'),
    1px -1px 0 map-get($theme, 'black'),
    -1px -1px 0 map-get($theme, 'black');
}

@media(min-width: 768px) {
  .welcome-text {
    width: 60%;
    font-size: 2.5rem;
  }
}