.header-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 60%;
  font-size: 1rem;
}

.mobile-menu-btn, .space-fragment {
  height: 6vh;
  width: 6vh;
}

/* @media (min-width: 320px) {
  .header-container {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .header-container {
    width: 100%;
  }
} */


/* .navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 60px;
}

.help-link {
  height: 20px;
  width: 40px;
}

.business-link {
  height: 20px;
  width: 40px;
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 80px;
}

.log-in-btn {
  height: 20px;
  width: 40px;
}

.sign-up-btn {
  height: 20px;
  width: 40px;
} */