.header-mobile-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.mobile-menu-btn, .space-fragment {
  height: 6vh;
  width: 6vh;
}

.header-desktop-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.header-links, .header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  gap: 0.5rem;
}

.help-link, .business-link {
  height: 1.25rem;
  width: 4rem;
}

.log-in-btn {
  height: 1.25rem;
  width: 4rem;
}

.sign-up-btn {
  height: 1.25rem;
  width: 4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 60%;
  font-size: 1rem;
}

@media (min-width: 320px) {}

@media (min-width: 480px) {}

@media (min-width: 768px) {
  .logo-container {
    width: 30%;
    justify-content: left;
    align-items: center;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}