.main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.search-bar-container {
  height: 3rem;
  width: 75%;
  position: absolute;
  top: 43vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: lightsteelblue;
}

.carousel-container {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0 5rem;
}

.carousel-header {
  font-weight: 700;
  align-self: flex-start;
  font-size: 1rem;
}

.carousel-subheader {
  font-weight: 400;
  align-self: flex-start;
  margin-bottom: 2vh;
  font-size: 0.75rem;
}

.carousel-display {
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
}

.carousel-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
  background-color: lightsteelblue;
}

.carousel-card::before {
  content: '';
  display: block;
  padding-bottom: 75%;
}

.information-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  margin: 1.25rem 0;
}

.information-box {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (min-width: 320px) {}

@media (min-width: 480px) {
  .search-bar-container {
    width: 80%;
  }
}

@media (min-width: 768px) {

  .carousel-display {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .carousel-card {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .carousel-display {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
}

@media (min-width: 1200px) {}