.main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo-container {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.search-bar-container {
  height: 10vh;
  width: 80%;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: lightsteelblue;
}

.carousel-container {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15vh 0 10vh;
}

.carousel-header {
  font-weight: 700;
  align-self: flex-start;
  font-size: 1rem;
}

.carousel-subheader {
  font-weight: 400;
  align-self: flex-start;
  margin-bottom: 2vh;
  font-size: 0.75rem;
}

.carousel-display {
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
}

.carousel-card {
  height: 32vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
  background-color: lightsteelblue;
}

.information-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 2vh 0;
  margin: 2vh 0;
}

.information-box {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* @media (min-width: 320px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .main-container {
    width: 100%;
  }
} */
