.main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo-container {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.search-bar-container {
  height: 80px;
  width: 280px;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: lightsteelblue;
}

.carousel-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.carousel-header {
  font-size: 1.25rem;
  font-weight: 700;
  align-self: flex-start;
}

.carousel-subheader {
  font-size: 0.75rem;
  font-weight: 400;
  align-self: flex-start;
}

.carousel-display {
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
}

.carousel-card {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.information-box {
  height: 300px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (min-width: 320px) {
  .main-container {
    max-width: 320px;
  }
}
