$smooth-hover-time: 0.15s;
$smooth-hover-effect: ease-in-out;

@mixin smooth-hover(
  $property, 
  $duration: $smooth-hover-time, 
  $timing-function: $smooth-hover-effect
) {
  transition: $property $duration $timing-function;
}

@mixin center-elements($direction: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin underline-animation($direction: 'ltr') {
  display: inline-block;
  border: none;
  transition: background-size 0.5s;

  @if $direction == 'ltr' {
    background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1em no-repeat;
  } @else if $direction == 'rtl' {
    background: linear-gradient(currentColor 0 0) bottom right / var(--underline-width, 0%) 0.1em no-repeat;
  }

  &:hover {
    cursor: pointer;
    --underline-width: 100%;
  }
}
