$primary-font: 'Outfit';
$global-font-size: 16px;

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir.otf');
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $global-font-size;
  scrollbar-gutter: stable;
}

body, button, input {
  font-family: $primary-font;
  font-weight: 300;
}

button, input {
  line-height: 1.5;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
