$primary-font: 'Outfit';
$global-font-size: 16px;

@import './colors';

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa.ttf');
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $global-font-size;
}

body, header, button {
  font-family: $primary-font, Arial, sans-serif;
  background-color: map-get($theme, 'white');
  color: map-get($theme, 'black');
  scrollbar-gutter: stable;
  font-weight: 300;
}

a, button {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-size: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
