@import './Global/colors';
@import './Header/header';
@import './HomePage/home';
@import './SearchPage/search';
@import './Card/card';
@import './FacilityPage/facility';
@import './Footer/footer';

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Avenir';
  line-height: 1.5;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
