* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dotted red;
}

html {
  font-size: 16px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

.site-container {
  height: auto;
  width: 100%;
}

@media (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 36px;
  }
}
.header-mobile-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.mobile-menu-btn, .space-fragment {
  height: 6vh;
  width: 6vh;
}

.header-desktop-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.header-links, .header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  gap: 0.5rem;
}

.help-link, .business-link {
  height: 1.25rem;
  width: 4rem;
}

.log-in-btn {
  height: 1.25rem;
  width: 4rem;
}

.sign-up-btn {
  height: 1.25rem;
  width: 4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 60%;
}

.logo-text {
  font-size: 1rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo-container {
    width: 30%;
    justify-content: left;
    align-items: center;
  }
}
.main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo-container {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.search-bar-container {
  height: 8vh;
  width: 75%;
  position: absolute;
  top: 52vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: lightsteelblue;
}

.carousel-container {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20vh 0 10vh;
}

.carousel-header {
  font-weight: 700;
  align-self: flex-start;
  font-size: 1rem;
}

.carousel-subheader {
  font-weight: 400;
  align-self: flex-start;
  margin-bottom: 2vh;
  font-size: 0.75rem;
}

.carousel-display {
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
}

.carousel-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
  background-color: lightsteelblue;
}

.carousel-card::before {
  content: "";
  display: block;
  padding-bottom: 75%;
}

.information-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  margin: 1.25rem 0;
}

.information-box {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (min-width: 480px) {
  .search-bar-container {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .search-bar-container {
    top: 50vh;
    height: 10vh;
  }
  .carousel-display {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .carousel-card {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .carousel-display {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
}
.search-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  min-height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0 0;
}

.developer-information {
  font-size: 0.75rem;
  margin: 2vh 0;
}

.social-media-links {
  height: 10vh;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.something-link {
  height: 2rem;
  width: 2rem;
  background-color: lightgrey;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
