@import '@styles/mixins';

.external-link-wrapper {
  display: flex;

  .description-external-link {
    position: relative;
    display: inherit;
    align-items: center;
    padding: 0 0 0.1rem;
    font-weight: 550;
    @include underline-animation('ltr');

    span {
      position: absolute;
      right: -1.2rem;
      top: 0.18rem;
      display: inherit;

      svg {
        height: 1rem;
        width: 0.9rem;
        stroke-width: 2.25;
      }
    }
  }
}