@import '../../styles/colors';

.login-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: transparent;
  visibility: hidden;
  z-index: 6;
  padding: 3rem 1rem;

  &.active {
    visibility: visible;
    overflow: auto;
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 100%, 575px);
    height: 700px;
    background-color: white;
    border: 1px solid black;
    padding: 1.5rem 2rem;
    z-index: 1;

    .login-signup-container {
      display: flex;
      justify-content: center;
      width: 100%;

      .login-tab,
      .signup-tab {
        flex: 1;
        padding: 1rem;
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid map-get($grey, 'light');
      }
    }

    .login-form-descriptor {
        text-align: center;
        padding: 1rem;
        margin: 3rem 0;
    }

    .login-form {
      display: flex;
      flex-direction: column;

      .form-field {
        display: flex;
        flex-direction: column;

        .form-input {
          display: flex;
          flex-direction: column;
  
          label {
            font-size: 1rem;
          }
  
          input {
            font-size: 1rem;
            padding: 1rem;
          }
        }

        .space {
          height: 10rem;
        }

        .form-submit-btn {
          align-self: center;
          height: 4rem;
          width: clamp(10rem, 100%, 14rem);
          background-color: transparent;
          border: 1px solid black;
        }

      }
    }
  }
}

@media (min-width: 768px) {
  .login-overlay {
    padding: 4rem 1rem;
  }
}
