@import '@styles/colors';
@import '@styles/mixins';

.update-section-container {
  height: auto;
  width: 100%;
  padding: 4rem 5% 5rem;
  display: flex;
  flex-direction: column;

  .update-section-top {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 3rem;

    .update-section-title {
      font-size: 1.75rem;
      font-weight: 400;
      margin: 0 0 0.5rem;
    }

    .update-section-subtitle {
      color: map-get($grey, 'dark');
      font-size: 1.25rem;
      font-weight: 300;
    }
  }

  .updates-display {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .update-section-container {
    padding: 6rem 10% 8rem;

    .update-section-top {
      margin: 0 0 5rem;

      .update-section-title {
        font-size: 2.25rem;
      }

      .update-section-subtitle {
        font-size: 1.5rem;
      }
    }

    .updates-display {
      gap: 4rem;
    }
  }
}

@media (min-width: 1200px) {
  .update-section-container {

    .update-section-top {
      margin: 0 0 5rem;
    }

    .updates-display {
      flex-direction: row;
    }
  }
}