@import '@styles/colors';
@import '@styles/transitions';

.tab-btn {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid map-get($grey, 'light');

  @include smooth-hover(border-bottom);
  @include smooth-hover(background-color);

  &:hover {
    border-bottom: 1px solid map-get($grey, 'darker');
    background-color: darken(map-get($theme, 'white'), 2.5%);
    cursor: pointer;
  }

  &.active {
    border-bottom: 2px solid map-get($grey, 'darker');
  }
}