@import '../../../../styles/colors';
@import '../../../../styles/mixins';
@import '../../../../styles/transitions';

.explore-section-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  background-color: white;
  padding: 4rem 5% 5rem;

  .explore-section-title {
    width: 100%;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
  }

  .explore-category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 1rem;

    .explore-category {
      @include center-elements;
      padding: 1rem;
      width: auto;
      height: auto;
      background-color: white;
      border: 1px solid map-get($grey, 'darker');
      border-radius: 8px;
      
      @include smooth-hover(transform);

      &:hover {
        transform: scale(1.025);
        cursor: pointer;
      }

      &:active {
        transform: scale(0.975);
      }

      .category-text {
        color: map-get($grey, 'darker');
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .explore-section-container {
    padding: 6rem 10% 8rem;

    .explore-section-title {
      font-size: 2.25rem;
    }

    .explore-category-container {

      .explore-category {
        padding: 1.25rem;

        .category-text {
          font-size: 1.25rem;
        }
      }
    }
  }
}
