@import '@styles/colors';

.explore-section-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  background-color: map-get($theme, 'white');
  padding: 4rem 5% 5rem;

  .explore-section-title {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: map-get($theme, 'black');
    z-index: 1;
  }

  .explore-category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 1rem;

  }
}

@media (min-width: 768px) {
  .explore-section-container {
    padding: 7rem 10% 8rem;
    gap: 5rem;

    .explore-section-title {
      font-size: 2.25rem;
    }
  }
}
