.facility-type-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0 0 1.5rem;

  svg {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
  }

  .facility-type {
    font-size: 1rem;
  }
}