.facility-type-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0 0 1.5rem;

  .facility-type-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;

    img {
      height: 1rem;
      width: 1rem;
    }
  }

  .facility-type {
    font-size: 1rem;
    padding: 0.25rem 0 0;
  }
}