.sidebar-menu-close-btn {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  background-color: transparent;

  img {
    height: 2.25rem;
    width: 2.25rem;
  }

  &:hover {
    cursor: pointer;
  }
}