@import '@styles/colors';
@import '@styles/mixins';

.footer-links {
  display: inline-flex;
  gap: 0.5rem;

  .social-link {
    @include smooth-hover(background-color);
    padding: 0.6rem 0.6rem 0.3rem;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: lighten(map-get($grey, 'darker'), 7.5%);
    }

    a {
      .github-svg {
        height: 1.75rem;
        width: 1.75rem;
      }

      .linkedin-svg {
        height: 1.65rem;
        width: 1.65rem;
      }
    }
  }
}