@import '../../../../../styles/colors';

.account-favorites-container {
  display: flex;
  flex-direction: column;

  .account-favorites-header {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .favorited-facility-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .favorited-facility-card {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: 1px solid map-get($grey, 'light');
      padding: 1rem;

      h1 {
        color: black;
        font-size: 1rem;
      }

      .favorited-facility-card-text {
        font-size: 1rem;
      }
    }
  }
}