@import '../../../../../styles/colors';

.account-favorites-container {
  display: flex;
  flex-direction: column;

  .account-favorites-header {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid map-get($grey, 'lighter');
    color: map-get($grey, 'darker');
  }

  .favorited-facility-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 768px) {

  .account-favorites-container {

    .account-favorites-header {
      font-size: 1.75rem;
      padding-bottom: 2.5rem;
      border: 0;
    }
  
    .favorited-facility-container {
      gap: 1.25rem;
    }
  }
  
}