@import '../../../../../styles/colors';

$page-max-width: 800px;

.photo-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vw * (9/16));
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    background-color: map-get($grey, 'lighter');
    object-fit: cover;
    border-radius: 6px;
  }  
}

.no-facility-photo-found {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .photo-section-container {
    max-width: $page-max-width;
    height: calc($page-max-width * (9/16))
  }
}
