@import '../../../../styles/colors';
@import '../../../../styles/mixins';
@import '../../../../styles/transitions';

.oauth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .oauth-login-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0 1.5rem;

    .oauth-google-btn/* ,
    .oauth-apple-btn  */{
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 3rem;
      width: 100%;
      border: none;
      border-radius: 4px;
      color: map-get($theme, 'white');
      padding: 0 1rem;
      border: 1.5px solid map-get($grey, 'darker');
      color: map-get($grey, 'darker');
      background-color: transparent;

      @include smooth-hover(border);

      &:hover {
        cursor: not-allowed;
        border: 1.5px solid red;
        /* background-color: darken(map-get($theme, 'white'), 5%); */
      }

      .oauth-btn-icon {
        height: 2rem;
        width: 2rem;

        img {
          height: 2rem;
          width: 2rem;
        }
      }

      .oauth-btn-text {
        flex: 1;
        font-size: 1rem;
        padding: 0.1rem 0 0;
      }
    }
  }
}