@import '@styles/colors';

.slider-display {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  .slider-display-cards {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    gap: 1.25rem;
    padding: 0.5rem 0.5rem 0.75rem;
    margin: 0 0 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-color: transparent transparent;
  }
}

@media (min-width: 768px) {
  .slider-display {

    .slider-display-cards {
      margin: 0;
    }
  }
}

