@import '@styles/colors';

.slider-display {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  .slider-display-cards {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 0 0.1rem 0.75rem;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-color: transparent transparent;
  }
}

