@import '@styles/colors';
@import '@styles/mixins';

.about-section-container {
  position: relative;
  width: 100%;
  @include center-elements(column);
  padding: 5rem 5%;
  
  .about-section-top {
    @include center-elements(column);
    margin: 0 0 5rem;
    z-index: 1;

    .about-section-title,
    .about-section-subtitle {
      text-align: center;
      line-height: 2rem;
      font-weight: 350;
    }

    .about-section-title {
      font-size: 1.75rem;
      margin: 0 0 2rem;
    }

    .about-section-subtitle {
      font-size: 1.75rem;
    }
  }

  .about-section-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .about-section-container {
    padding: 7rem 10% 8rem;

    .about-section-top {
      align-items: center;
      margin: 0 0 7rem;

      .about-section-title,
      .about-section-subtitle {
        font-size: 2.25rem;
        
      }
      .about-section-title {
        margin: 0 0 3.5rem;
      }
    }
    .about-section-bottom {
      flex-direction: row;
      gap: 3rem;
    }
  }
}
