@import '@styles/colors';
@import '@styles/transitions';
@import '@styles/mixins';

.about-section-container {
  position: relative;
  width: 100%;
  @include center-elements(column);
  padding: 5rem 5%;
  

  .about-section-top {
    @include center-elements(column);
    margin: 0 0 3rem;
    z-index: 1;

    .about-section-title,
    .about-section-subtitle {
      text-align: center;
      line-height: 2rem;
      font-weight: 350;
    }

    .about-section-title {
      font-size: 1.75rem;
      margin: 0 0 2rem;
    }

    .about-section-subtitle {
      font-size: 1.75rem;
    }
  }

  .about-section-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 1;

    .row-left {
      display: flex;

      .row-text {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 2rem;

        .row-title {
          font-size: 1.5rem;
        }

        .row-description {
          font-size: 1.1rem;
          line-height: 1.6;
          color: map-get($grey, 'dark');
          border-left: 2px solid map-get($grey, 'darker');
          padding: 0 0 0 1rem;
        }
      }
    }

    .row-right {
      display: flex;
      justify-content: center;

      .row-photo-container {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 325px;
        min-width: 325px;
        margin-top: 1rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
        border: 0.5px solid map-get($grey, 'neutral');
        z-index: 1;
        border-radius: 4px;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
        }

        &:active {
          transform: scale(0.95);
        }

        img {
          border-radius: 5px;
          padding: 0.25rem;
          width: 100%;
          object-fit: contain;
          background-color: map-get($theme, 'white');
          z-index: 2;
          border-radius: 6px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .about-section-container {
    padding: 7rem 10% 8rem;

    .about-section-top {
      align-items: center;
      margin: 0 0 7rem;

      .about-section-title,
      .about-section-subtitle {
        font-size: 2.25rem;
        
      }
      .about-section-title {
        margin: 0 0 3.5rem;
      }
    }

    .about-section-row {
      flex-direction: row;
      gap: 3rem;

      .row-left {
        width: 50%;

        .row-text {

          .row-title {
            font-size: 1.75rem;
            margin: 0 0 1rem;
          }

          .row-description {
            font-size: 1.25rem;
            padding: 0 0 0 1.5rem;
          }
        }
      }

      .row-right {
        width: 50%;
        align-items: center;

        .row-photo-container {
          margin: 0;
          max-height: 500px;
          max-width: 500px;
        }
      }
    }
  }
}
