@import '../../../../styles/colors';
@import '../../../../styles/transitions';

.about-section-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
  gap: 1.75rem;
  background-color: map-get($theme, 'white');

  .about-section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2rem;
    z-index: 1;

    .about-section-title {
      display: flex;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 700;
      color: map-get($theme, 'black');
    }

    .about-section-subtitle {
      display: flex;
      font-size: 1.75rem;
      font-weight: 700;
      color: map-get($theme, 'black');
    }
  }

  .about-section-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 1;

    .row-left {
      display: flex;

      .row-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        .row-title {
          font-size: 1.75rem;
          font-weight: 700;
          color: map-get($theme, 'black');
        }

        .row-description {
          font-size: 1.2rem;
          line-height: 1.5;
          color: map-get($grey, 'dark');
        }
      }
    }

    .row-right {
      display: flex;
      justify-content: center;

      .row-photo-container {
        display: flex;
        align-items: center;
        min-height: 325px;
        min-width: 325px;
        margin-top: 1rem;
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      
        @include smooth-hover(transform);

        &:hover {
          cursor: pointer;
          transform: scale(1.025) rotate(2deg);
        }

        &:active {
          transform: scale(0.975) rotate(2deg);
        }

        img {
          border-radius: 5px;
          padding: 0.75rem;
          width: 100%;
          object-fit: contain;
          background-color: map-get($theme, 'white');
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .about-section-container {
    padding: 8rem 10%;
    gap: 5rem;

    .about-section-top {
      gap: 2.5rem;

      .about-section-title {
        font-size: 2.5rem;
      }

      .about-section-subtitle {
        font-size: 2.5rem;
      }
    }

    .about-section-row {
      flex-direction: row;
      gap: 2.75rem;

      .row-left {
        width: 50%;
      }

      .row-right {
        width: 50%;
        align-items: center;

        .row-photo-container {
          margin: 0;
          max-height: 500px;
          max-width: 500px;
        }
      }
    }
  }
}
