@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.home-page-photo-container {
  height: 60vh;
  width: 100%;
  @include center-elements;
  background-color: map-get($grey, 'lighter');
}