@import '../../styles/colors';
@import '../../styles/transitions';
@import '../../styles/mixins';

.header-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: map-get($grey, 'darker');
  padding: 0 5%;
  z-index: 3;
}

@media (min-width: 768px) {
  .header-container {
    padding: 0 10%;
  }
}
