@import '../../../../styles/transitions';
@import '../../../../styles/colors';

.has-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0 1rem;

  .has-account-message {
    font-size: 1rem;
  }

  .has-account-signup-link {
    border: none;
    background-color: transparent;
    color: map-get($theme, 'black');
    font-size: 1rem;
    font-weight: 500;

    @include smooth-hover(transform);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}