@import '@styles/colors';
@import '@styles/mixins';

.close-auth-form-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  @include center-elements;
  align-self: flex-end;
  border: none;
  padding: 0.5rem;
  border-radius: 25px;
  color: map-get($grey, 'darker');

  @include smooth-hover(background-color);

  &:hover {
    cursor: pointer;
    background-color: darken(map-get($theme, 'white'), 5%);
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}