@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/transitions';

.close-form-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  @include center-elements;
  background-color: map-get($theme, 'white');
  align-self: flex-end;
  border: none;
  padding: 0.5rem;
  border-radius: 25px;
  color: map-get($grey, 'darker');

  @include smooth-hover(background-color);

  &:hover {
    cursor: pointer;
    background-color: darken(map-get($theme, 'white'), 5%);
  }

  .close-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
}