@import '@styles/colors';
@import '@styles/transitions';

.footer-links {
  display: inline-flex;
  gap: 1.5rem;
  margin: 0 0 2rem;

  .something-link {
    @include smooth-hover(transform);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    a {
      img {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer-links {
    margin: 0;
  }
}