@import '../../../../styles/mixins';
@import '../../../../styles/colors';
@import '../../../../styles/transitions';

.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2.5rem;

  .something-link {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3.5px;
  
    @include smooth-hover(transform);
  
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    a {
      img {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer-links {
    width: auto;
    margin: 0;

    .something-link {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}