@import '../../../../styles/mixins';
@import '../../../../styles/colors';
@import '../../../../styles/transitions';

.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;

  .something-link {
    height: 4rem;
    width: 4rem;
    border-radius: 4px;
  
    @include smooth-hover(transform);
  
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    a {
      img {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer-links {
    width: auto;
    margin: 0;

    .something-link {
      height: 4rem;
      width: 4rem;
    }
  }
}