@import '@styles/colors';
@import '@styles/transitions';
@import '@styles/mixins';

.search-slider-card-container {
  @include center-elements(column);
  height: 240px;
  width: 320px;
  border-radius: 6px;
  background-color: map-get($theme, 'white');
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  flex: 0 0 auto;

  @include smooth-hover(box-shadow);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 4px 7px;
  }

  .search-slider-card-message {
    font-size: 1.25rem;
    color: map-get($grey, 'darker');
    margin: 0 0 2rem;
  }

  .search-slider-card-search-btn {
    @include center-elements;
    padding: 0.75rem;
    color: map-get($theme, 'white');
    background-color: map-get($grey, 'darker');
    text-decoration: none;
    border-radius: 6px;
    height: 3rem;
    width: 8rem;

    @include smooth-hover(background-color);

    &:hover {
      cursor: pointer;
      background-color: lighten(map-get($grey, 'darker'), 5%);
    }
  }
}