@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/transitions';

.explore-category {
  @include center-elements;
  padding: 1.25rem 1.5rem;
  width: auto;
  height: auto;
  border: 1px solid map-get($grey, 'lighter');
  border-radius: 6px;
  z-index: 1;
  transition: 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    border: 1px solid map-get($grey, 'darker');
  }

  &:active {
    background-color: darken(map-get($theme, 'white'), 5%);
  }

  .category-text {
    font-family: 'Outfit';
    color: map-get($grey, 'darker');
    font-size: 0.95rem;
  }

  
}

@media (min-width: 768px) {
  .explore-category {
    padding: 1.25rem 1.5rem;

    .category-text {
      font-size: 1.15rem;
    }
  }
}