.main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($grey, lighter);
}

.main-search-bar {
  height: 50px;
  width: 70%;
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: map-get($grey, light);
  border-radius: 5px;
  border: 1px solid map-get($grey, lighter);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
}

.main-search-bar form {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  
}

.main-search-bar input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  color: map-get($grey, neutral);
  border: 1px solid map-get($grey, darker);
  border-right: none;
  padding: 0 1.5rem 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-search-bar button {
  height: 100%;
  width: 60px;
  background-size: 1.75rem 1.75rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid map-get($grey, dark);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: darken(white, 5%);
  }
}

.information-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($grey, dark);
  padding: 0 1rem;
}

.information-box {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (min-width: 480px) {
  .search-bar-container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .main-search-bar {
    width: 60%;
    height: 70px;
  }
  .main-search-bar button {
    width: 80px;
  }
}

@import 'slider';
