@import '@styles/colors';

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  background-color: map-get($grey, 'darker');
}

.desktop-map-view-wrapper {

  .footer-container {

    .footer-bottom {
      flex-direction: column;
    }
  }
}

@media (min-width: 768px) {
  .footer-container {
    gap: 0;
    padding: 0 10%;
    margin: 0;
  }
}