@import '@styles/colors';

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5% 5rem;
  background-color: map-get($grey, 'darker');
}

.desktop-map-view-wrapper {

  .footer-container {

    .footer-bottom {
      flex-direction: column;
    }
  }
}

@media (min-width: 768px) {
  .footer-container {
    gap: 0;
    padding: 0 10% 5rem;
    margin: 0;
  }
}
