.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .footer-bottom {
    gap: 0.5rem;
    padding: 3rem 0 2rem;
  }
}
