@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/transitions';

.footer-bottom {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
  }
}
