@import '@styles/colors';
@import '@styles/transitions';

.map-facility-card {
  font-family: 'Avenir';
  display: flex;
  width: 320px;
  height: 120px;
  text-decoration: none;
  position: absolute;
  bottom: 0.65rem;
  left: 50%;
  transform: translateX(-50%);
  color: map-get($grey, 'darker');
  background-color: map-get($theme, 'white');
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;

  &.isAboveMiddle {
    bottom: -7.75rem;
  }

  .map-facility-card-photo {
    height: 100%;
    width: 120px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include smooth-hover(transform, $duration: 0.25s);

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .map-facility-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: map-get($theme, 'black');
    background-color: map-get($theme, 'white');
    overflow: hidden;

    @include smooth-hover(background-color);

    &:hover {
      background-color: darken(map-get($theme, 'white'), 2.5%);
    }

    .map-facility-card-type {
      font-size: 0.7rem;
      font-weight: 600;
      margin: 0 0 0.25rem;
    }

    .map-facility-card-name {
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 0.15rem;
    }

    .map-facility-card-address {
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}