@import '@styles/colors';

.dev-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin: 0 0 1.25rem;
  font-size: 1rem;
  color: map-get($theme, 'white');

  .dev-site {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: flex;

      svg {
        height: 0.8rem;
        width: 0.8rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .dev-info {
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
  }
}