.footer-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5%;
  background-color: white;

  .footer-top {
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid map-get($grey, 'light');
  }

  .footer-bottom {
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 2.5rem;
    gap: 1rem;
  }
}

.developer-information {
  font-size: 1rem;
  text-align: center;
}

.social-media-links {
  height: auto;
  @include center-elements;
  gap: 2.5rem;

  .something-link {
    height: 3rem;
    width: 3rem;
    background-color: map-get($grey, 'light');
    border-radius: 4px;
  
    @include smooth-hover(transform);
  
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

@media (min-width: 768px) {
  .footer-container {
    gap: 0;
    padding: 0 10%;
  }
  .developer-information {
    text-align: left;
  }
  .footer-bottom {
    flex-direction: row;
  }
  .social-media-links {
    margin: 0;
  }
}
