.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin: 1rem 0;
}

.developer-information {
  font-size: 0.75rem;
}

.social-media-links {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.something-link {
  height: 2rem;
  width: 2rem;
  background-color: lightgrey;
}

@media (min-width: 320px) {}

@media (min-width: 480px) {}

@media (min-width: 768px) {

  .footer-container {
    flex-direction: row;
  }
  .social-media-links {
    margin: 0;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}