@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/transitions';

.facility-card-container { 
  position: relative;
  width: 100%;
  max-height: 345px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 3px;
  
  @include smooth-hover(box-shadow);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 1px 3px 8px;
  }
  
  .facility-card-link-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: map-get($grey, 'darker');

    .facility-photo-container {
      flex: 1;
      overflow: hidden;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        @include smooth-hover(transform, $duration: 0.25s);
    
        &:hover {
          transform: scale(1.025);
        }
      }
    }
  
    .facility-card-bottom {
      display: flex;
      padding: 0.8rem 1rem;
      height: 100px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      
      .facility-card-info {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        border: none;

        .facility-card-info-top {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 0 0 0.35rem;

          .facility-card-type,
          .facility-card-neighborhood {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        .facility-card-info-bottom {
          width: 100%;
          display: flex;
          flex-direction: column;

          .facility-card-name {
            font-size: 1.25rem;
            margin: 0 0 0.25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          
          .facility-card-address {
            font-size: 0.9rem;
          }
        }
      }
    }
  } 
}
