@import '../../../styles/colors';
@import '../../../styles/transitions';
@import '../../../styles/mixins';

.facility-card-container,
.dummy-card-container,
.slider-card-container {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;

  .facility-photo-container {
    height: 225px;
    background-color: white;
    border-bottom: 1px solid map-get($grey, 'light');
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  
    img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      
      @include smooth-hover(transform, $duration: 0.25s);
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  .facility-card-info {
    height: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.5rem;
  
    .facility-card-name {
      display: flex;
      font-size: 1.25rem;
    }
    
    .facility-card-address {
      display: flex;
      font-size: 0.8rem;
    }

    .facility-card-type {
      display: flex;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}

.dummy-card-container {
  width: 360px;
}

.slider-card-container {
  background-color: map-get($grey, light);
}
