@import '../../../../../styles/colors';

$page-max-width: 800px;

.facility-about {
  display: flex;
  flex-direction: column;
  max-width: $page-max-width;
  margin: 2rem 0;
  padding: 1.5rem;
  border: 1px solid map-get($grey, 'light');

  .facility-about-header {
    font-size: 1.5rem;
    padding: 0 0 0.75rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid map-get($grey, 'light');
  }

  .facility-data {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: $page-max-width;
    width: 100%;

    .facility-data-left {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .facility-data-right {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .facility-data {
    flex-direction: row;
  }
}
