@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/transitions';

.type-dropdown-btn,
.amenity-dropdown-btn,
.service-dropdown-btn {
  height: 100%;
  font-size: 14px;
  @include center-elements;
  gap: 0.2rem;
  min-width: 85px;
  border: 1px solid map-get($grey, dark);
  border-radius: 4px;
  color: map-get($grey, 'darker');
  background-color: white;
  
  @include smooth-hover(border);
  @include smooth-hover(background-color);
  
  &:hover {
    cursor: pointer;
    background-color: darken(white, 5%);
    border: 1px solid map-get($grey, lighter);
  }

  &.active,
  &:active 
  &:hover {
    border: 1px solid map-get($grey, lighter);
  }
}

.type-dropdown-btn.with-delete-icon {
  width: 100px;
}

.amenity-dropdown-btn.with-delete-icon {
  width: 110px;
}

.service-dropdown-btn.with-delete-icon {
  width: 110px;
}

.dropdown-btn-content-container {
  display: flex;
  justify-content: center;
  gap: 0.25rem;

  .dropdown-btn-checkedcount {
    font-size: 0.85rem;
  }
  .dropdown-btn-text {
    font-size: 0.85rem;
  }
}

.dropdown-btn-delete {
  height: 0.8rem;
  width: 0.8rem;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;

  &:hover {
    background-color: map-get($grey, 'light');
  }
}


.type-dropdown,
.amenity-dropdown,
.service-dropdown {
  position: relative;
  display: flex;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  
}

.dropdown-title {
  font-size: 0.8rem;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 0 0.4rem;
}

.dropdown-arrow {
  height: 0.75rem;
  width: 0.75rem;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
  z-index: 2;
  height: auto;
  width: 14rem;
  padding: 1rem;
  font-size: 0.7rem;
  background-color: white;
  border: 1px solid map-get($grey, lighter);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);

  .dropdown-option {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 0.1rem;
    margin: 0 0.5rem 0;
  }

  .option-checkbox {
    margin-right: 0.4rem;
    height: 1.2rem;
    width: 1.2rem;
    color: white;
  
    &:hover {
      cursor: pointer;
    }
  }

  .option-text {
    font-size: 0.85rem;
    padding: 0.25rem 0 0;
  }

  .checkbox-done-btn {
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;
    padding: 0.2rem 0 0;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    margin: 0.8rem 0 0;
    background-color: map-get($grey, 'dark');

    @include smooth-hover(background-color);
  
    &:hover {
      cursor: pointer;
      background-color: lighten(map-get($grey, 'dark'), 10%);
    }
  }
}