@import '../../../../styles/colors';
@import '../../../../styles/transitions';
@import '../../../../styles/mixins';

.add-favorite-btn {
  @include center-elements;
  position: absolute;
  bottom: 7rem;
  right: 0.8rem;
  height: 2.75rem;
  width: 2.75rem;
  border: 1px solid map-get($theme, 'black');
  border-radius: 50%;
  background-color: map-get($theme, 'white');

  .favorite-svg {
    height: 1.5rem;
    width: 1.5rem;
    stroke-width: 1.2;
    opacity: 0.8;
    stroke: #333333;
    fill: none;

    @include smooth-hover(transform);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &.filled {
      stroke: none;
      height: 1.6rem;
      width: 1.6rem;
    }
  }

}
