@import 'logo';

.header-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: map-get($grey, darker);
  padding: 0 5%;
}

.mobile-menu-btn, .space-fragment {
  height: 2.5rem;
  width: 2.5rem;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.navigation-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
}

.business-link,
.about-link,
.help-link, 
.login-link,
.signup-link {
  width: auto;
  background-color: map-get($grey, darker);
  font-size: 1rem;
  border: none;
  color: white;

  &:hover {
    cursor: pointer;
    color: darken(white, 15%);
  }
}

.signup-link {
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
}

.login-signup-link {
  width: 8rem;
}

@media (min-width: 768px) {
  .header-container {
    padding: 0 10%;
  }
}
