.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-bottom: 2px solid white;
  text-decoration: none;
}

.logo-text {
  font-size: 2rem;
  color: white;
}
