@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/transitions';

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.favorite-box {
  position: absolute;
  bottom: 0;
  right: 0;

  .limit-message {
    @include center-elements;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 120px;
    background-color: map-get($theme, 'white');
    border-radius: 8px;
    z-index: 1;
    padding: 0.75rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: visibility 0.2s linear;

    &.limit-reached {
      animation: fadeInOut 2s forwards;
      visibility: visible;
      display: block;
    }

    .message-text {
      font-size: 0.9rem;
      text-align: center;
    }
  }

  .save-section-add-favorite-btn,
  .facility-card-add-favorite-btn {
    @include center-elements;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: map-get($theme, 'white');

    .favorite-svg {
      stroke-width: 1.2;
      opacity: 0.8;
      stroke: #333333;
      fill: none;

      &:hover {
        cursor: pointer;
      }

      &.filled {
        stroke: none;
      }
    }
  }

  .save-section-add-favorite-btn {
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;

    .favorite-svg {
      height: 1.5rem;
      width: 1.5rem;

      &.filled {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }

  .facility-card-add-favorite-btn {
    bottom: 7rem;
    right: 0.8rem;
    height: 3rem;
    width: 3rem;

    .favorite-svg {
      height: 1.5rem;
      width: 1.5rem;

      &.filled {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .favorite-box {

    .save-section-add-favorite-btn {
      bottom: 1.25rem;
      right: 1.5rem;
      height: 3.5rem;
      width: 3.5rem;

      .favorite-svg {
        height: 1.7rem;
        width: 1.7rem;

        &.filled {
          height: 1.8rem;
          width: 1.8rem;
        }
      }
    }
  }
}