@import '../../../../../styles/colors';
@import '../../../../../styles/transitions';
@import '../../../../../styles/mixins';

$page-max-width: 800px;

.facility-save-section-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  border: 1px solid map-get($grey, 'light');
  border-radius: 6px;
  margin: 2em 0;

  .encourage-login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .encourage-text {
      font-size: 1rem;
    }

    .encourage-login-btn {
      height: 2.5rem;
      width: 6.5rem;
      border: none;
      border-radius: 6px;
      background-color: map-get($grey, 'darker');
      color: map-get($theme, 'white');
      font-size: 1rem;

      @include smooth-hover(background-color);

      &:hover {
        cursor: pointer;
        background-color: lighten(map-get($grey, 'darker'), 10%);
      }
    }
  }

  .facility-add-favorite-btn {
    @include center-elements;
    border: none;
    border: 1px solid map-get($grey, 'light');
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: map-get($theme, 'white');

    svg {
      height: 1.7rem;
      width: 1.7rem;
      stroke-width: 1.2;
      opacity: 0.8;
      stroke: #333333;

      @include smooth-hover(transform);

      &:hover {
        cursor: pointer;
        transform: scale(1.075);
      }

      &.filled {
        height: 1.8rem;
        width: 1.8rem;
        stroke: none;
      }
    }
  }
}
@media(min-width: 768px) {
  .facility-save-section-container {
    width: $page-max-width;
    padding: 1.25rem;

    .encourage-login-container {
      justify-content: flex-end;

      .encourage-text {
        font-size: 1.1rem;
      }

      .encourage-login-btn {
        height: 3rem;
        width: 8rem;
      }
    }

    .save-to-favorites-container {

      .facility-add-favorite-btn {
        height: 2rem;
        width: 2rem;

        img {
          height: 100%;
          width: 100%;

        }
      }
    }
  }
}
