@import '@styles/colors';

.footer-top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0 2rem;
  border-bottom: 1px solid map-get($theme, 'white');
}

@media (min-width: 768px) {
  .footer-top {
    justify-content: left;
    padding: 3rem 0 1rem;
  }
}