@import '@styles/colors';

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 1rem;
}

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    padding: 3rem 0 0.5rem;
  }
}
