@import '../../../../../../styles/colors';
@import '../../../../../../styles/transitions';

.add-favorite-btn {
  position: absolute;
  bottom: 3.25rem;
  right: 0.75rem;
  border: none;
  background-color: map-get($theme, 'white');

  svg {
    height: 2rem;
    width: 2rem;
    stroke-width: 1.2;
    opacity: 0.8;
    stroke: #333333;

    @include smooth-hover(transform);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.975);
    }
  }

}
