@import '../../../../../../styles/colors';
@import '../../../../../../styles/transitions';

.add-favorite-btn {
  position: absolute;
  bottom: 3.5rem;
  right: 0.75rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: white;

  img {
    height: 100%;
    width: 100%;

    @include smooth-hover(transform);

    &:hover {
      cursor: pointer;
      transform: scale(1.075);
    }

    &:active {
      transform: scale(0.925);
    }
  }
}