@import '../../../../styles/colors';
@import '../../../../styles/transitions';
@import '../../../../styles/mixins';

.facility-card-container,
.dummy-card-container { 
  position: relative;
  width: 100%;
  max-height: 345px;
  display: flex;
  flex-direction: column;
  background-color: map-get($theme, 'white');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  @include smooth-hover(box-shadow);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }

  .facility-card-link-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: map-get($grey, 'darker');

    .facility-photo-container {
      height: 225px;
      background-color: map-get($theme, 'white');
      overflow: hidden;
    
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        @include smooth-hover(transform, $duration: 0.25s);
    
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  
    .facility-card-bottom {
      display: flex;
      padding: 1rem;
      height: 100px;
      
  
      .facility-card-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        border: none;
        
        .facility-card-name {
          display: flex;
          font-size: 1.25rem;
          color: map-get($theme, 'black');
          margin: 0 0 0.5rem;
        }
        
        .facility-card-address {
          display: flex;
          font-size: 0.9rem;
          color: map-get($theme, 'black');
          margin: 0 0 0.4rem;
        }
        
        .facility-card-type {
          display: flex;
          font-size: 0.8rem;
          font-weight: 500;
          color: map-get($theme, 'black');
        }
      }
    }
  }  
}

.dummy-card-container {
  width: 360px;
}
