@import '@styles/colors';

.auth-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background: transparent;
  z-index: 5;
  padding: 2rem 1rem;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .auth-form-container {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: clamp(300px, 100%, 575px);
    padding: 1.5rem 2rem;
    z-index: 10;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: map-get($theme, 'white');

    .auth-nav-tabs {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .auth-overlay {
    padding: 4rem 1rem;

  }
}