@import '../../../styles/mixins';
@import '../../../styles/transitions';
@import '../../../styles/colors';

.logo-container {
  display: flex;
  justify-content: left;
  text-decoration: none;
  padding-top: 0.25rem;
}

.logo-text {
  font-family: 'Comfortaa';
  font-size: 1.75rem;
  color: map-get($theme, 'black');

  @include smooth-hover(transform);
  
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
